.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 420px;
  resize: none;
  margin: 30px;
  border: 3px solid rgba(39, 39, 42, 0.164);
  border-radius: 6px;
  box-shadow: 0px 0px 8px 0px;
  background-color: rgba(129, 125, 153, 0.514);
  padding: 30px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(4, 43, 30);
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  &::first-letter {
    text-transform: uppercase;
  }
}

.input {
  width: auto;
  padding: 11px 12px 11px 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: rgba(104, 102, 117, 0.514);
  border-bottom: 1px solid rgb(42, 7, 11);
  box-shadow: 0px 0px 6px 0px;
  outline: none;
}
.btn {
  width: 50%;
  padding: 12px;
  transform: scale(1);
  background-color: rgba(111, 248, 120, 0.863);

  border: none;
  box-shadow: 0px 2px 10px 1px;
  color: rgb(4, 43, 30);
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.btn:hover {
  border: 2px solid rgb(10, 58, 20);
  transform: scale(1.1);
}
.btn:focus {
  outline: none;
}
.error {
  color: rgb(244, 168, 82);
  font-size: 16px;
  font-weight: 700;
}
