.contacts {
  display: flex;
  width: 450px;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  gap: 20px;
  background-color: #f0f7f8;
  padding: 10px;
  margin-right: 10px;
}
.contactList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contactItem {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3d3a3a;
  width: 120px;
  height: 40px;

  margin-left: 140px;
  background-color: #9ca6f0;
  font-size: 20px;
  padding: 8px;
  border-radius: 6px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.number {
  font-size: 24px;
  margin: 0;
}
