.contactList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
